In [44]:
#current working director
import os
os.getcwd()

'C:\\Users\\DELL\\Code'

In [45]:
import pandas as pd
import numpy as np

In [46]:
#loading excel file
dataset = pd.read_excel("hostel_excel.xlsx")
dataset.head()

,Hid,HostelName,District,Place/City,HostelType,ManagerName,ManagerContact,SingleSeaterPrice,DoubleSeaterPrice,3SeaterPrice,4SeaterPrice,Ratings,Facilities,Description
0,1,Big Bell Boys Hostel,Bhaktapur,Tibukche Tol,Boys,Sujeet Raut,9812038294,12000,11000,10000,9000,3,"Wifi, Hot and Cold Water, Parking, Laundary, C...",peaceful environment
1,2,Friends Boys Hostel,Bhaktapur,Dokchee,Boys,Sujeet Raut,9812038294,11000,10000,9000,8000,2,"Wifi, Hot and Cold Water, Parking, Laundary, Fan",located at the heart of the city
2,3,Golden Gate Boys Hostel,Bhaktapur,Talako,Boys,Sujeet Raut,9812038294,13000,12000,11000,10000,4,"Wifi, Hot and Cold Water, Laundary, CCTV, Gym,...","friendly staff, proper clenliness"
3,4,Ajima Girls Hostel,Bhaktapur,Ghakha,Girls,Sujeet Raut,9812038294,12000,11000,10000,9000,5,"Wifi, Hot and Cold Water, Parking, CCTV, Gym",peaceful environment
4,5,Manjushree Girls Hostel,Bhaktapur,Dudhpati,Girls,Sujeet Raut,9812038294,12000,11000,10000,9000,1,"Wifi, Hot and Cold Water, Parking",peaceful environment

In [47]:
dataset = dataset[['Hid','HostelName','District','Place/City','HostelType','Facilities','Description']]

In [48]:
dataset.head()

,Hid,HostelName,District,Place/City,HostelType,Facilities,Description
0,1,Big Bell Boys Hostel,Bhaktapur,Tibukche Tol,Boys,"Wifi, Hot and Cold Water, Parking, Laundary, C...",peaceful environment
1,2,Friends Boys Hostel,Bhaktapur,Dokchee,Boys,"Wifi, Hot and Cold Water, Parking, Laundary, Fan",located at the heart of the city
2,3,Golden Gate Boys Hostel,Bhaktapur,Talako,Boys,"Wifi, Hot and Cold Water, Laundary, CCTV, Gym,...","friendly staff, proper clenliness"
3,4,Ajima Girls Hostel,Bhaktapur,Ghakha,Girls,"Wifi, Hot and Cold Water, Parking, CCTV, Gym",peaceful environment
4,5,Manjushree Girls Hostel,Bhaktapur,Dudhpati,Girls,"Wifi, Hot and Cold Water, Parking",peaceful environment

In [49]:
dataset.Facilities = dataset.Facilities.str.replace(" ","")

In [50]:
dataset.head()

,Hid,HostelName,District,Place/City,HostelType,Facilities,Description
0,1,Big Bell Boys Hostel,Bhaktapur,Tibukche Tol,Boys,"Wifi,HotandColdWater,Parking,Laundary,CCTV,Gym...",peaceful environment
1,2,Friends Boys Hostel,Bhaktapur,Dokchee,Boys,"Wifi,HotandColdWater,Parking,Laundary,Fan",located at the heart of the city
2,3,Golden Gate Boys Hostel,Bhaktapur,Talako,Boys,"Wifi,HotandColdWater,Laundary,CCTV,Gym,Fan","friendly staff, proper clenliness"
3,4,Ajima Girls Hostel,Bhaktapur,Ghakha,Girls,"Wifi,HotandColdWater,Parking,CCTV,Gym",peaceful environment
4,5,Manjushree Girls Hostel,Bhaktapur,Dudhpati,Girls,"Wifi,HotandColdWater,Parking",peaceful environment

In [51]:
dataset['Place/City'] = dataset['Place/City'].apply(lambda x:x.split())

In [52]:
dataset.head()

,Hid,HostelName,District,Place/City,HostelType,Facilities,Description
0,1,Big Bell Boys Hostel,Bhaktapur,"[Tibukche, Tol]",Boys,"Wifi,HotandColdWater,Parking,Laundary,CCTV,Gym...",peaceful environment
1,2,Friends Boys Hostel,Bhaktapur,[Dokchee],Boys,"Wifi,HotandColdWater,Parking,Laundary,Fan",located at the heart of the city
2,3,Golden Gate Boys Hostel,Bhaktapur,[Talako],Boys,"Wifi,HotandColdWater,Laundary,CCTV,Gym,Fan","friendly staff, proper clenliness"
3,4,Ajima Girls Hostel,Bhaktapur,[Ghakha],Girls,"Wifi,HotandColdWater,Parking,CCTV,Gym",peaceful environment
4,5,Manjushree Girls Hostel,Bhaktapur,[Dudhpati],Girls,"Wifi,HotandColdWater,Parking",peaceful environment

In [53]:
dataset['District'] = dataset['District'].apply(lambda x:x.split())

In [54]:
dataset.head()

,Hid,HostelName,District,Place/City,HostelType,Facilities,Description
0,1,Big Bell Boys Hostel,[Bhaktapur],"[Tibukche, Tol]",Boys,"Wifi,HotandColdWater,Parking,Laundary,CCTV,Gym...",peaceful environment
1,2,Friends Boys Hostel,[Bhaktapur],[Dokchee],Boys,"Wifi,HotandColdWater,Parking,Laundary,Fan",located at the heart of the city
2,3,Golden Gate Boys Hostel,[Bhaktapur],[Talako],Boys,"Wifi,HotandColdWater,Laundary,CCTV,Gym,Fan","friendly staff, proper clenliness"
3,4,Ajima Girls Hostel,[Bhaktapur],[Ghakha],Girls,"Wifi,HotandColdWater,Parking,CCTV,Gym",peaceful environment
4,5,Manjushree Girls Hostel,[Bhaktapur],[Dudhpati],Girls,"Wifi,HotandColdWater,Parking",peaceful environment

In [55]:
dataset['HostelType'] = dataset['HostelType'].apply(lambda x:x.split())

In [56]:
dataset.head()

,Hid,HostelName,District,Place/City,HostelType,Facilities,Description
0,1,Big Bell Boys Hostel,[Bhaktapur],"[Tibukche, Tol]",[Boys],"Wifi,HotandColdWater,Parking,Laundary,CCTV,Gym...",peaceful environment
1,2,Friends Boys Hostel,[Bhaktapur],[Dokchee],[Boys],"Wifi,HotandColdWater,Parking,Laundary,Fan",located at the heart of the city
2,3,Golden Gate Boys Hostel,[Bhaktapur],[Talako],[Boys],"Wifi,HotandColdWater,Laundary,CCTV,Gym,Fan","friendly staff, proper clenliness"
3,4,Ajima Girls Hostel,[Bhaktapur],[Ghakha],[Girls],"Wifi,HotandColdWater,Parking,CCTV,Gym",peaceful environment
4,5,Manjushree Girls Hostel,[Bhaktapur],[Dudhpati],[Girls],"Wifi,HotandColdWater,Parking",peaceful environment

In [57]:
dataset['Facilities'] = dataset['Facilities'].apply(lambda x:x.split())

In [58]:
dataset.head()

,Hid,HostelName,District,Place/City,HostelType,Facilities,Description
0,1,Big Bell Boys Hostel,[Bhaktapur],"[Tibukche, Tol]",[Boys],"[Wifi,HotandColdWater,Parking,Laundary,CCTV,Gy...",peaceful environment
1,2,Friends Boys Hostel,[Bhaktapur],[Dokchee],[Boys],"[Wifi,HotandColdWater,Parking,Laundary,Fan]",located at the heart of the city
2,3,Golden Gate Boys Hostel,[Bhaktapur],[Talako],[Boys],"[Wifi,HotandColdWater,Laundary,CCTV,Gym,Fan]","friendly staff, proper clenliness"
3,4,Ajima Girls Hostel,[Bhaktapur],[Ghakha],[Girls],"[Wifi,HotandColdWater,Parking,CCTV,Gym]",peaceful environment
4,5,Manjushree Girls Hostel,[Bhaktapur],[Dudhpati],[Girls],"[Wifi,HotandColdWater,Parking]",peaceful environment

In [59]:
dataset['Description'] = dataset['Description'].apply(lambda x:x.split())

In [60]:
dataset.head()

,Hid,HostelName,District,Place/City,HostelType,Facilities,Description
0,1,Big Bell Boys Hostel,[Bhaktapur],"[Tibukche, Tol]",[Boys],"[Wifi,HotandColdWater,Parking,Laundary,CCTV,Gy...","[peaceful, environment]"
1,2,Friends Boys Hostel,[Bhaktapur],[Dokchee],[Boys],"[Wifi,HotandColdWater,Parking,Laundary,Fan]","[located, at, the, heart, of, the, city]"
2,3,Golden Gate Boys Hostel,[Bhaktapur],[Talako],[Boys],"[Wifi,HotandColdWater,Laundary,CCTV,Gym,Fan]","[friendly, staff,, proper, clenliness]"
3,4,Ajima Girls Hostel,[Bhaktapur],[Ghakha],[Girls],"[Wifi,HotandColdWater,Parking,CCTV,Gym]","[peaceful, environment]"
4,5,Manjushree Girls Hostel,[Bhaktapur],[Dudhpati],[Girls],"[Wifi,HotandColdWater,Parking]","[peaceful, environment]"

In [61]:
dataset['Tags'] = dataset['District'] + dataset['Place/City'] + dataset['HostelType'] + dataset['Facilities'] + dataset['Description']

In [62]:
dataset.head()

,Hid,HostelName,District,Place/City,HostelType,Facilities,Description,Tags
0,1,Big Bell Boys Hostel,[Bhaktapur],"[Tibukche, Tol]",[Boys],"[Wifi,HotandColdWater,Parking,Laundary,CCTV,Gy...","[peaceful, environment]","[Bhaktapur, Tibukche, Tol, Boys, Wifi,HotandCo..."
1,2,Friends Boys Hostel,[Bhaktapur],[Dokchee],[Boys],"[Wifi,HotandColdWater,Parking,Laundary,Fan]","[located, at, the, heart, of, the, city]","[Bhaktapur, Dokchee, Boys, Wifi,HotandColdWate..."
2,3,Golden Gate Boys Hostel,[Bhaktapur],[Talako],[Boys],"[Wifi,HotandColdWater,Laundary,CCTV,Gym,Fan]","[friendly, staff,, proper, clenliness]","[Bhaktapur, Talako, Boys, Wifi,HotandColdWater..."
3,4,Ajima Girls Hostel,[Bhaktapur],[Ghakha],[Girls],"[Wifi,HotandColdWater,Parking,CCTV,Gym]","[peaceful, environment]","[Bhaktapur, Ghakha, Girls, Wifi,HotandColdWate..."
4,5,Manjushree Girls Hostel,[Bhaktapur],[Dudhpati],[Girls],"[Wifi,HotandColdWater,Parking]","[peaceful, environment]","[Bhaktapur, Dudhpati, Girls, Wifi,HotandColdWa..."

In [63]:
from IPython.display import display
pd.set_option('display.max_columns', None)
dataset.style.set_properties(**{'overflow':'scroll'})

In [64]:
dataset.to_excel('processed_dataset.xlsx')

In [65]:
new_dataset = dataset[['Hid','HostelName','Tags']]

In [66]:
new_dataset.head()

,Hid,HostelName,Tags
0,1,Big Bell Boys Hostel,"[Bhaktapur, Tibukche, Tol, Boys, Wifi,HotandCo..."
1,2,Friends Boys Hostel,"[Bhaktapur, Dokchee, Boys, Wifi,HotandColdWate..."
2,3,Golden Gate Boys Hostel,"[Bhaktapur, Talako, Boys, Wifi,HotandColdWater..."
3,4,Ajima Girls Hostel,"[Bhaktapur, Ghakha, Girls, Wifi,HotandColdWate..."
4,5,Manjushree Girls Hostel,"[Bhaktapur, Dudhpati, Girls, Wifi,HotandColdWa..."

In [67]:
new_dataset['Tags'] = new_dataset['Tags'].apply(lambda x:" ".join(x))

C:\Users\DELL\AppData\Local\Temp\ipykernel_2548\3820637464.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dataset['Tags'] = new_dataset['Tags'].apply(lambda x:" ".join(x))

In [68]:
new_dataset.head()

,Hid,HostelName,Tags
0,1,Big Bell Boys Hostel,"Bhaktapur Tibukche Tol Boys Wifi,HotandColdWat..."
1,2,Friends Boys Hostel,"Bhaktapur Dokchee Boys Wifi,HotandColdWater,Pa..."
2,3,Golden Gate Boys Hostel,"Bhaktapur Talako Boys Wifi,HotandColdWater,Lau..."
3,4,Ajima Girls Hostel,"Bhaktapur Ghakha Girls Wifi,HotandColdWater,Pa..."
4,5,Manjushree Girls Hostel,"Bhaktapur Dudhpati Girls Wifi,HotandColdWater,..."

In [25]:
new_dataset['Tags'][0]

'Bhaktapur Tibukche Tol Boys Wifi,HotandColdWater,Parking,Laundary,CCTV,Gym,Fan peaceful environment'

In [26]:
new_dataset['Tags'] = new_dataset['Tags'].apply(lambda x:x.lower())

C:\Users\DELL\AppData\Local\Temp\ipykernel_2548\397756451.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dataset['Tags'] = new_dataset['Tags'].apply(lambda x:x.lower())

In [27]:
new_dataset.head()

,Hid,HostelName,Tags
0,1,Big Bell Boys Hostel,"bhaktapur tibukche tol boys wifi,hotandcoldwat..."
1,2,Friends Boys Hostel,"bhaktapur dokchee boys wifi,hotandcoldwater,pa..."
2,3,Golden Gate Boys Hostel,"bhaktapur talako boys wifi,hotandcoldwater,lau..."
3,4,Ajima Girls Hostel,"bhaktapur ghakha girls wifi,hotandcoldwater,pa..."
4,5,Manjushree Girls Hostel,"bhaktapur dudhpati girls wifi,hotandcoldwater,..."

In [28]:
new_dataset['Tags']

0     bhaktapur tibukche tol boys wifi,hotandcoldwat...
1     bhaktapur dokchee boys wifi,hotandcoldwater,pa...
2     bhaktapur talako boys wifi,hotandcoldwater,lau...
3     bhaktapur ghakha girls wifi,hotandcoldwater,pa...
4     bhaktapur dudhpati girls wifi,hotandcoldwater,...
                            ...
75    kathmandu koteshwor girls wifi,hotandcoldwater...
76    kathmandu sukhedhara girls wifi,hotandcoldwate...
77    kathmandu kapan girls wifi,hotandcoldwater,par...
78    kathmandu rato pul girls wifi,hotandcoldwater,...
79    kathmandu shankhamul girls wifi,hotandcoldwate...
Name: Tags, Length: 80, dtype: object

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [30]:
!pip freeze

distlib==0.3.6
filelock==3.9.0
fonttools==4.38.0
kiwisolver==1.4.4
numpy==1.24.1
packaging==23.0
Pillow==9.4.0
platformdirs==2.6.2
pyparsing==3.0.9
pytz==2022.7
six==1.16.0
virtualenv==20.17.1

In [31]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.2.0-cp311-cp311-win_amd64.whl (8.2 MB)
     ---------------------------------------- 8.2/8.2 MB 3.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\python311\lib\site-packages (from scikit-learn) (1.24.1)
Collecting scipy>=1.3.2
  Downloading scipy-1.10.0-cp311-cp311-win_amd64.whl (42.2 MB)
     ---------------------------------------- 42.2/42.2 MB 3.0 MB/s eta 0:00:00
Collecting joblib>=1.1.1
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.2.0 scipy-1.10.0 threadpoolctl-3.1.0

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

In [33]:
tfidf_matrix = tfidf.fit_transform(new_dataset['Tags'])

In [34]:
from sklearn.metrics.pairwise import linear_kernel

In [35]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [36]:
indices = pd.Series(new_dataset.index, index=new_dataset['HostelName'])
indices

HostelName
Big Bell Boys Hostel        0
Friends Boys Hostel         1
Golden Gate Boys Hostel     2
Ajima Girls Hostel          3
Manjushree Girls Hostel     4
                           ..
Rigel Girls Hostel         75
 Pricha Girls Hostel       76
Suhana Girls Hostel        77
Beehive Girls Hostel       78
Samikshya Girls Hostel     79
Length: 80, dtype: int64

In [37]:
indices['Ajima Girls Hostel']

3

In [38]:
def get_recommendations(name, cosine_sim=cosine_sim):
    idx = indices[name]
    sim_scores = enumerate(cosine_sim[idx])
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[0:5]
    
    sim_index = [i[0] for i in sim_scores]
    print(new_dataset["HostelName"].iloc[sim_index])

In [39]:
get_recommendations('Manjushree Girls Hostel')

4       Manjushree Girls Hostel
10          Krishna Boys Hostel
3            Ajima Girls Hostel
9     Siddhi Laxmi Girls Hostel
33                 Women Hostel
Name: HostelName, dtype: object

In [40]:
get_recommendations('Ajima Girls Hostel')

3            Ajima Girls Hostel
4       Manjushree Girls Hostel
9     Siddhi Laxmi Girls Hostel
79       Samikshya Girls Hostel
77          Suhana Girls Hostel
Name: HostelName, dtype: object